*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero{
  height: 100vh;
  width: 100%;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span{
  color: #008cfe;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: #008cfe;
  transition: .4s;
}
.btn{
  background-color: #008cfe;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}
.btn:hover{
  transform: scale(1.2);
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3{
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
}
h4{
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}
.about{
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  height: 600px;
  width: 350px;
}
.about-text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: #60dff5;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background-color: #008cfe;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
button:hover{
  background-color: transparent;
  border: 2px solid #008cfe;
  cursor: pointer;
}

.skills{
  width: 100%;
  padding: 100px 0px;
  background: #101010
}
.skill-box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.skill-card{
  height: 425px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.skill-card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #008cfe;
}

.skill-card h5{
  color: #60dff5;
}
.skill-card li{
  list-style: none;
}

.skill-list{
  color: white;
  padding-top: 30px;
  line-height: 30px;
  font-size: 20px;
}

.project{
  background: #191919;
  width: 100%;
  padding: 100px 0px;
}
.title h2{
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}


.box1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}
.box1 .card1{
  position: relative;
  height: 400px;
  width: 300px;
  background: #101010;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.box1 .card1 .imgBx,
.box1 .card1 .textBx{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.box1 .card1 .imgBx{
  background: #fff;
  height: 120px;
  z-index: 1;
  transform-origin: bottom;
}
.box1 .card1:hover .imgBx{
  transform: translateY(-100%) rotateX(90deg);
}

.box1 .card1 .imgBx::before{
  content: '';
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 144px;
  height: 74px;
  background: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 1;
}

.box1 .card1 .textBx{
  height: 280px;
  background: #008cfe;
  border-top: 8px solid #333;
  transform-origin: top;
  transition-delay: 0.5s;
  align-items: flex-end;
  overflow: hidden;

}
.box1 .card1:hover .textBx{
  transform: translateY(100%) rotateX(90deg);
}
.box1 .card1 .textBx::before{
  content: '';
  position: absolute;
  top: -8px;
  width: 160px;
  height: 80px;
  background: #333;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.box1 .card1 .textBx h2{
  color: #222;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  padding: 5px 25px;
  box-shadow: 0 0 0 8px #333;
  width: 100%;
}
.box1 .card1 .content h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #60dff5;
  margin-top: -100px;
  margin-left: auto;
}
.box1 .card1 .content{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box1 .card1 .content ul{
  color: white;
  padding-top: 30px;
  line-height: 30px;
  font-size: 20px;
}
.box1 .card1 .content li{
  list-style: none;
}

.box1 .card1 i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #000000;
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.card{
  height: 425px;
  width: 335px;
  padding: 20px 35px;
  background: #101010;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #008cfe;
}
h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p{
  color: #60dff5;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: #008cfe;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #008cfe;
  cursor: pointer;
}
.my-resume{
  width: 100%;
  height: 290px;
  background: #101010;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.my-resume p{
  color: white;
  font-size: 30px; 
  font-weight: bold;
  margin-bottom: 25px;
}
.my-resume .button-two{
  background-color: #008cfe;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
.my-resume .button-two:hover{
  background-color: transparent;
  border: 2px solid #008cfe;
  cursor: pointer;
}
.contact-me p{
  margin-top: 30px;
  color: white;
  font-size: 20px;
  line-height: 5px;
}
.contact-me{
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me h2{
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

footer{
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social{
  display: flex;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #008cfe;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}
.end{
  position: absolute;
  color: #008cfe;
  bottom: 35px;
  font-size: 14px;
}